@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Gloock&family=Poppins:wght@300&display=swap');

:root {
    --bg-color: rgb(12, 15, 10);
    --bg-color-blur: rgb(12, 15, 10, 0.5);
    --pink-color: #FF206E;
    --yellow-color: #FBFF12;
    --blue-color: #41EAD4;
    --sans-serif-font: 'Poppins', sans-serif;
    --serif-font: 'Gloock', serif;
    --mono-font: 'Cutive Mono', monospace;
}

* {
    color: white;
    font-family: var(--sans-serif-font);
}

a {
    text-decoration: none;
}

/*PAGE LAYOUT STYLES*/

body {
    margin: auto;
    background-color: var(--bg-color);
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 50px 1fr 30px;
}



#logo {
    font-family: var(--serif-font);
}

nav {
    background-color: var(--pink-color);
    grid-column: span 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vh;
}

aside {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 3rem;
}

.sticky {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: sticky;
    justify-content: space-evenly;
    top: 25px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    z-index: 2;
}

/* #soc-icon {
    filter: grayscale(100%);
} */

.box-layout {
    background-color: var(--bg-color);
    display: grid;
    /* height: 100vh; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 30px 30px;
}

footer {
    background-color: var(--pink-color);
    grid-column: span 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 8;
    display: none;
}

#contact-modal {
	background-color: black;
    text-align: center;
	height: 150px;
	width: 300px;
	border-radius: 10px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin: auto auto 25px auto;
}

#close-btn {
    background-color: var(--nav-color);
    border-radius: 5px;
    padding: 2px;
}

/*BOX STYLES*/

.blue-box {
    background-color: var(--blue-color);
    border-radius: 20px;
    box-shadow: 10px 10px white;  
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.pink-box {
    background-color: var(--pink-color);
    border-radius: 20px;
    box-shadow: 10px 10px white;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.yellow-box {
    background-color: var(--yellow-color);
    border-radius: 20px;
    box-shadow: 10px 10px white;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-box {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px var(--yellow-color);
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-box {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px var(--yellow-color);
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.plain-box {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*INNER BOX STYLES*/

.title-box {
    font-size: 36px;
    padding: 10px;
    text-align: center;
    flex-direction: column;
}

.blurb-box {
    padding: 10px
}

.pink-shadow {
    box-shadow: 10px 10px var(--pink-color);
}

.blue-shadow {
    box-shadow: 10px 10px var(--blue-color);
}

/*BOX LOCATION CLASSES*/

.a1 {
    grid-column: 1;
    grid-row: 1;
}

.a2 {
    grid-column: 2;
    grid-row: 1;

}

.b1 {
    grid-column: 1;
    grid-row: 2;
}

.b2 {
    grid-column: 2;
    grid-row: 2;
}

.c1 {
    grid-column: 1;
    grid-row: 3;
}

.c2 {
    grid-column: 2;
    grid-row: 3;
}

.d1 {
    grid-column: 1;
    grid-row: 4;
}

.d2 {
    grid-column: 2;
    grid-row: 4;
}

/*MISC STYLES*/

.blkfnt {
    color: black;
}

.serif {
    font-family: var(--serif-font);
}

.monospace {
    font-family: var(--mono-font);
}

.small-text {
    font-size: 16px;
}

.center {
    text-align: center;
}

/*IMAGE/VIDEO STYLES*/

#prof-pic {
    border-radius: 50%;
    width: 50%;
    max-width: 200px;
}

.vid {
    filter: grayscale(100%);
    width: 150%;
}

:hover {
    filter: grayscale(0%);
}

/*BUTTON STYLES*/

.yp-btn {
    background-color: var(--bg-color);
    border: 4px solid white;
    box-shadow: 5px 5px #FBFF12; 
    width: 10em;
    height: 35px;
    border-radius: 5px;
}

.yp-btn:hover {
    background-color: var(--bg-color);
    border: 4px solid #FF206E;
    box-shadow: 5px 5px white;
    border-radius: 5px;
}

/*ANIMATIONS*/

@keyframes slide-in{
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-out{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-150%);
    }
}

.slide-out {
    animation: slide-out 2s;
}

.slide-in {
    animation: slide-in 2s;
}