@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Gloock&family=Poppins:wght@300&display=swap');

:root {
    --bg-color: rgb(12, 15, 10);
    --bg-color-blur: rgb(12, 15, 10, 0.5);
    --pink-color: #FF206E;
    --yellow-color: #FBFF12;
    --blue-color: #41EAD4;
    --sans-serif-font: 'Poppins', sans-serif;
    --serif-font: 'Gloock', serif;
    --mono-font: 'Cutive Mono', monospace;
}

* {
    color: white;
    font-family: var(--sans-serif-font);
}

a {
    text-decoration: none;
}

/*PAGE LAYOUT STYLES*/

body {
    margin: auto;
    background-color: var(--bg-color);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 50px 1fr 30px;
}

#logo {
    font-family: var(--serif-font);
}

#logo:hover {
    transform: scale(1.5);
}

nav {
    background-color: var(--pink-color);
    grid-column: span 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vh;
}

.nav-btn:hover {
    transform: scale(1.2);
    color: black;
}

aside {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 3rem;
}

.sticky {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: sticky;
    justify-content: space-evenly;
    top: 25px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    z-index: 2;
}

/* #soc-icon {
    filter: grayscale(100%);
} */

.box-layout {
    background-color: var(--bg-color);
    display: grid;
    /* height: 100vh; */
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-rows: auto;
    gap: 25px;
    margin: 30px 30px;
}

footer {
    background-color: var(--pink-color);
    grid-column: span 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
    top: 0;
    left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}

#contact-modal {
    position: relative;
	background-color: black;
    text-align: center;
	border-radius: 10px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding: 3rem;
}

#close-btn {
    background-color: var(--nav-color);
    border-radius: 5px;
    padding: 5px;
}

/*BOX STYLES*/

.blue-box {
    background-color: var(--blue-color);
    border-radius: 20px;
    box-shadow: 10px 10px white;  
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.blue-box:hover {
    transform: scale(1.1);
}

.pink-box {
    background-color: var(--pink-color);
    border-radius: 20px;
    box-shadow: 10px 10px white;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pink-box:hover {
    transform: scale(1.1);
}

.yellow-box {
    background-color: var(--yellow-color);
    border-radius: 20px;
    box-shadow: 10px 10px white;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-box:hover {
    transform: scale(1.1);
}

.media-box {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px var(--yellow-color);
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
    overflow: hidden;
    max-height: 30vh;
    
}
.media-box:hover {
    filter: none;
}

.photo {
    min-height: fit-content;
    max-width: 180%;
}

.video-box {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px var(--yellow-color);
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.plain-box {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*INNER BOX STYLES*/

.title-box {
    font-size: 36px;
    padding: 10px;
    text-align: center;
    flex-direction: column;
}

.blurb-box {
    padding: 10px
}

.pink-shadow {
    box-shadow: 10px 10px var(--pink-color);
}

.blue-shadow {
    box-shadow: 10px 10px var(--blue-color);
}

#social-small {
    display: none;
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px var(--blue-color);
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.single-img-container:hover {
    filter: grayscale(0);
}

.no-scale:hover {
    transform: scale(1);
}


/*IMAGE CAROUSEL CLASSES*/

.carousel-container {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    filter: grayscale(100%);
    min-height: 300px;
}

.carousel-container:hover {
    filter: grayscale(0);
}
  
.carousel-images {
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}

.carousel-images img {
    width: 100%;
    border-radius: 20px;
    display: none;
}

.carousel-images img:first-of-type {
    display: block;
}

.carousel-btn {
    align-self: center;
    background: var(--blue-color);
    color: var(--bg-color);
    text-align: center;
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
}
  
.carousel-btn:hover {
    cursor: pointer;
    background: var(--pink-color);
}



/*BOX LOCATION CLASSES*/

.a1 {
    grid-column: 1;
    grid-row: 1;
}

.a2 {
    grid-column: 2;
    grid-row: 1;

}

.b1 {
    grid-column: 1;
    grid-row: 2;
}

.b2 {
    grid-column: 2;
    grid-row: 2;
}

.c1 {
    grid-column: 1;
    grid-row: 3;
}

.c2 {
    grid-column: 2;
    grid-row: 3;
}

.d1 {
    grid-column: 1;
    grid-row: 4;
}

.d2 {
    grid-column: 2;
    grid-row: 4;
}

.double-wide {
    grid-column: span 2;
    grid-row: span 3;
}



/*MISC STYLES*/

.column {
    flex-direction: column;
}

.blkfnt {
    color: black;
}

.bold {
    font-weight: 900;
}

.serif {
    font-family: var(--serif-font);
}

.monospace {
    font-family: var(--mono-font);
}

.small-text {
    font-size: 16px;
}

.center {
    text-align: center;
}

/*IMAGE/VIDEO STYLES*/


.vid {
    filter: grayscale(100%);
    max-width: 150%;
    min-height: fit-content; 
}

:hover {
    filter: grayscale(0%);
}

/*BUTTON STYLES*/

.yp-btn {
    background-color: var(--bg-color);
    border: 4px solid white;
    box-shadow: 5px 5px #FBFF12; 
    width: 10em;
    height: 35px;
    border-radius: 5px;
}

.yp-btn:hover {
    background-color: var(--bg-color);
    border: 4px solid #FF206E;
    box-shadow: 5px 5px white;
    border-radius: 5px;
}

/*ANIMATIONS*/

.tooltip {
    display: none;
    position: absolute;
    background-color: var(--pink-color);
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    font-size: 8px;
  }
  
  .yp-btn:hover + .tooltip {
    display: block;
  }  

.coming-soon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 5px;
  }
  

@keyframes fade-out{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-out {
    animation: fade-out .5s both;
}

/* .graphic {
    color: var(--yellow-color);
    background-color: var(--yellow-color);
    border-radius: 50%;
    position: relative;
    animation-name: tumble;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
@keyframes tumble {
    0% {
      top: 0;
      transform: rotate(0deg);
    }
    50% {
      top: 100vh;
      transform: rotate(360deg);
    }
    100% {
      top: 0;
      transform: rotate(720deg);
    }
} */


/*MEDIA QUERIES*/

.hide {
    display: none;
}

@media screen and (max-width: 820px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 30px;
        height: 100vh;
    }
  
    .box-layout {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
    }

    aside {
        display: none;
    }

    #social-small {
        display: flex;
    }

    footer {
        order: 4;
    }
}
  
.hamburger {
    display: none;
    font-size: 2em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.show {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--pink-color);
        width: 50%;
    }

    .nav-links.show .nav-btn {
        padding: 10px 0;
    }
}