/* LAYOUT STYLES */

@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Kavoon&family=Poppins:wght@300&display=swap');

:root {
    --bg-color: rgb(239, 239, 208);
    --bg-color-blur: rgb(239, 239, 208, 0.5);
    --body-color: #F7C59F;
    --title-color: #FF6B35;
    --btn-color: #004E89;
    --navy-color: #023047;
    --main-font: 'Poppins', sans-serif;
    --title-font: 'Gloock', serif;
}

* {
    color: white;
    /* border: 2px solid black; */
    font-family: var(--main-font);
}

body {
    margin: auto;
    background-color: var(--navy-color);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 50px 1fr 30px 30px;
}

nav {
    background-color: var(--btn-color);
    grid-column: span 3;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#logo {
    font-family: 'Gloock', serif;
}

aside {
    background-color: var(--navy-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 3rem;
}

.sticky {
    text-align: center;
    display: grid;
    position: sticky;
    bottom: 0;
}

/*HOME PAGE STYLES*/
#home-page {
    background-image: url(/assets/IMG_0882.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 4rem 40% 4rem 4rem;
    display: flex;
    align-items: flex-end;
}

#prof-pic {
    border-radius: 50%;
    width: 50%;
    max-width: 200px;
}

.intro {
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #023047;
    border-radius: 20px;
}

.intro-words {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#cat {
    background-color: var(--btn-color);
    grid-column: 2;
}

/*ABOUT PAGE STYLES*/
#about-page {
    background-color: var(--navy-color);
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
}

.txt-container {
    padding-bottom: 3rem;
}

#fly-vid {
    width: 100%;
}

footer {
    background-color: var(--navy-color);
    grid-column: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
    display: none;
}

#contact-modal {
	background-color: white;
    text-align: center;
	height: 140px;
	width: 220px;
	border-radius: 10px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin: 80vh auto auto auto;
}

#close-btn {
    background-color: var(--btn-color);
    border-radius: 5px;
    padding: 2px;
}


/*INNER PAGE STYLES*/



/*CLASS STYLES*/
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vh;
}

.center-content {
    box-shadow: -5px -3px 8px rgb(186, 186, 186);
}


/*TEXT STYLES*/
h1, h3 {
    font-family: 'Gloock', serif;
}

h1 {
    font-size: 26px;
}

a {
    text-decoration: none;
}